<div class="testimonial pd_btom_80">
    <div class="container">
        <div class="section_header text-center">
            <div class="shadow_icon"><img src="/client/images/shadow_icon3.png" alt=""></div>
            <h6 class="section_sub_title">Đánh Giá</h6>
            <h1 class="section_title">Đánh Giá Của Khách Hàng</h1>
            <p class="section_desc">Một Vài Đánh Giá Tiêu Biểu Của Khách Hàng Về Dịch Vụ Của Công Ty Chúng Tôi</p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl_testimonial1 owl-carousel owl-theme">
                    <div class="item">
                        <div class="testibox1">
                            <div class="testibox_inner">
                                <div class="testi-content">
                                    <ul>
                                        <li class="text">Rating:</li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <p>
                                        “Tôi đánh giá rất tốt về chất lượng sản phẩm, dịch vụ chuyên nghiệp và giá cả hợp lý của công ty này. Nếu bạn cần các sản phẩm trong lĩnh vực này, tôi hoàn toàn khuyến khích bạn nên tham khảo công ty Sao Vàng.”
                                    </p>
                                </div>
                                <div class="testi-top">
                                    <div class="testi-img">
                                        <img src="/client/images/reviewer1.png" alt="">
                                    </div>
                                    <div class="testi-info">
                                        <h4>Nguyễn Văn Quang </h4>
                                        <h6>Hà Nội</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testibox1">
                            <div class="testibox_inner">
                                <div class="testi-content">
                                    <ul>
                                        <li class="text">Rating:</li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <p>“Đội ngũ nhân viên của công ty cũng rất chuyên nghiệp, nhiệt tình và luôn sẵn sàng hỗ trợ khách hàng trong quá trình sử dụng sản phẩm. Bên cạnh đó, giá cả của sản phẩm cũng rất hợp lý”</p>
                                </div>
                                <div class="testi-top">
                                    <div class="testi-img">
                                        <img src="/client/images/reviewer4.png" alt="">
                                    </div>
                                    <div class="testi-info">
                                        <h4>Trần Kim Mai</h4>
                                        <h6>Hà Nội</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="testibox1">
                            <div class="testibox_inner">
                                <div class="testi-content">
                                    <ul>
                                        <li class="text">Rating:</li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <p>"Nếu bạn đang tìm kiếm các sản phẩm trong lĩnh vực kho lạnh, điều hòa công nghiệp hoặc bể hải sản, Sao Vàng là một trong những địa chỉ đáng tin cậy để bạn có thể lựa chọn cho bạn.”</p>
                                </div>
                                <div class="testi-top">
                                    <div class="testi-img">
                                        <img src="/client/images/reviewer3.png" alt="">
                                    </div>
                                    <div class="testi-info">
                                        <h4>Phạm Khánh Toàn</h4>
                                        <h6>Nam Định</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testibox1">
                            <div class="testibox_inner">
                                <div class="testi-content">
                                    <ul>
                                        <li class="text">Rating:</li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <p>"Công ty Sao Vàng có chính sách bảo hành và hậu mãi tốt, giúp tôi an tâm hơn khi sử dụng sản phẩm. Nếu bạn đang cần các sản phẩm và dịch vụ trong lĩnh vực này, Sao Vàng là một lựa chọn tuyệt vời”</p>
                                </div>
                                <div class="testi-top">
                                    <div class="testi-img">
                                        <img src="/client/images/reviewer1.png" alt="">
                                    </div>
                                    <div class="testi-info">
                                        <h4>Nguyễn Văn Khánh</h4>
                                        <h6>Hà Nội</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testibox1">
                            <div class="testibox_inner">
                                <div class="testi-content">
                                    <ul>
                                        <li class="text">Rating:</li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <p>“Tôi đánh giá rất cao về chất lượng sản phẩm và dịch vụ của công ty Sao Vàng đều được sản xuất từ những nguyên liệu chất lượng cao và đáp ứng được các tiêu chuẩn an toàn và vệ sinh”</p>
                                </div>
                                <div class="testi-top">
                                    <div class="testi-img">
                                        <img src="/client/images/reviewer3.png" alt="">
                                    </div>
                                    <div class="testi-info">
                                        <h4>Ninh Văn Nam</h4>
                                        <h6>Bắc Ninh</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>