@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Out_Source_Project.Models.Message
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<div class="page_header">
	<div class="page_header_content">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#contact">Home</a></li>
				<li class="active">Liên Hệ</li>
			</ul>
			<h2 class="heading">Liên Hệ</h2>
			<div class="side_footer_social">
				<ul class="bottom_social">
					<li class="facebook"><a title="Fanpage Facebook 1" href="https://www.facebook.com/kholanhnambac?mibextid=LQQJ4d" target="_blank"><i class="ion-social-facebook"></i></a></li>

					<li class="facebook"><a title="Zalo 1" href="https://zalo.me/0968181551" target="_blank"><img width="30" height="30" style="margin-bottom: 10%;" src="https://img.icons8.com/plasticine/100/zalo.png" alt="zalo" /></a></li>

					<li class="twitter"><a title="Email" href="mailto:Kholanhsaovanghn@gmail.com"><i class="ion-android-mail"></i></a></li>



					<li class="facebook"><a title="Fanpage Facebook 2" href="https://www.facebook.com/profile.php?id=100074605876282&mibextid=LQQJ4d" target="_blank"><i class="ion-social-facebook"></i></a></li>

					<li class="dribbble"><a title="Zalo 2" href="https://zalo.me/0326963723" target="_blank"><img width="30" height="30" style="margin-bottom: 10%;" src="https://img.icons8.com/plasticine/100/zalo.png" alt="zalo" /></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="main_wrapper">
	<div class="section">
		
			
		
		<div class="container">
			<div class="gmapbox" data-aos="zoom-in">
				<div id="googleMap" class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.320814256812!2d105.885352!3d20.979773400000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3dc8c45201%3A0xd676a538bf33a43f!2zQ8O0bmcgdHkgVE5ISCBUaMawxqFuZyBN4bqhaSB2w6AgROG7i2NoIFbhu6UgQ8ahIMSQaeG7h24gTOG6oW5oIFNhbyBWw6BuZw!5e0!3m2!1svi!2s!4v1686220895869!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="contact_inner" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-5">
					<div class="keepintouch_3">
						<div class="communication">
							<div class="communication_icon">
								<i class="ion-ios-telephone-outline"></i>
							</div>
							<div class="info_body">
								<h5>Số Điện Thoại</h5>
								<h6>032 696 3723</h6>
								<h6>096 818 1551</h6>
							</div>
						</div>
						<div class="communication" data-aos="fade-up" data-aos-duration="1000">
							<div class="communication_icon">
								<i class="fa fa-envelope-o"></i>
							</div>
							<div class="info_body">
								<h5>Email</h5>
								<h6>Kholanhsaovanghn</h6>
								<h6>@@gmail.com</h6>
							
							</div>
						</div>
						<div class="communication" data-aos="fade-up" data-aos-duration="1300">
							<div class="communication_icon">
								<i class="fa fa-map-marker"></i>
							</div>
							<div class="info_body">
								<h5>Địa Chỉ Văn Phòng</h5>
								<h6>
									1 Ngõ 562 Lĩnh Nam,<br /> Hoàng Mai, Hà Nội
								</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-7 offset-lg-1">
					<div class="contact_us_1">
						<div class="section_header" data-aos="fade-left" data-aos-duration="700">
							<h6 class="section_sub_title">Liên Hệ Với Chúng Tôi</h6>
							<h1 class="section_title">
								Bạn Muốn Đặt Hàng?<br />
								Hãy Để Lại Thông Tin
							</h1>
						</div>
						<form class="contact_form" asp-action="Contact" asp-controller="Home" method="post" data-aos="fade-left" data-aos-duration="1000">
							<div class="form-container">
								<div class="row">
									
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<input type="email" asp-for="Email" class="form-control" placeholder="Email*" required="">
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<input type="text"  asp-for="Number" class="form-control" placeholder="Phone">
										</div>
									</div>
									
									<div class="col-md-12 col-lg-12">
										<div class="form-group">
											<textarea asp-for="Message1" class="form-control" placeholder="Lời Nhắn*" required=""></textarea>
										</div>
									</div>
									<div class="col-md-12 col-lg-12">
										<div class="form-group">
											<input class="button" type="submit" value="Gửi" name="submit">
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="banner banner_bg_color">
		<div class="container">
			<div class="banner_content">
				<div class="row">
					<div class="col-lg-8">
						<div class="banner_text">
							<img src="/client/images/phone3.png" alt="">
							<h1>Bạn Cần Hỗ Trợ ? Liên Hệ Với Chúng Tôi Để Nhận Được Tư Vấn</h1>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="banner_phone">
							<h4>Đường Dây Nóng</h4>
							<div class="phone">
								<a href="tel:0968181551">  <span class="phn_number">  <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; 032 696 3723</span></a>
							</div>
							<div class="phone">
								<a href="tel:0968181551">  <span class="phn_number">  <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; 096 818 1551</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>