
@{
    ViewData["Title"] = "DuAn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header -->
<div class="page_header">
	<div class="page_header_content">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="index-2.html">Home</a></li>
				<li class="active">Projects</li>
			</ul>
			<h2 class="heading">Projects</h2>
		</div>
	</div>
</div>

<div class="main_wrapper">
	<div class="project_iso section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="button-group filters-button-group button_color">
						<button class="button is-checked" data-filter="*">All</button>
						<button class="button" data-filter=".commercial">Commercial</button>
						<button class="button" data-filter=".highrise">Highrise</button>
						<button class="button" data-filter=".residential">Residential</button>
						<button class="button" data-filter=".business">Business</button>
					</div>

					<div class="grid grid-4 gutter-15">
						<div class="element-item residential business">
							<div class="teambox">
								<img src="images/team/1.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Large Garden Lodge</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item highrise">
							<div class="teambox">
								<img src="images/team/2.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Commercial Building</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item residential commercial">
							<div class="teambox">
								<img src="images/team/3.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Modern Pent House</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item highrise commercial">
							<div class="teambox">
								<img src="images/team/5.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Large Swiming Pool</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item business highrise">
							<div class="teambox">
								<img src="images/team/9.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Highrise Architecture</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item residential">
							<div class="teambox">
								<img src="images/team/10.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Curve Sky Tower</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item residential">
							<div class="teambox">
								<img src="images/team/11.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Shopping Mall</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item business residential">
							<div class="teambox">
								<img src="images/team/12.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Wonderful Bridge</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item commercial residential">
							<div class="teambox">
								<img src="images/team/13.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Small House Area</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item highrise residential">
							<div class="teambox">
								<img src="images/team/14.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Modern Architecture</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item business highrise">
							<div class="teambox">
								<img src="images/team/16.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Large Swiming Pool</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item residential">
							<div class="teambox">
								<img src="images/team/15.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Modern Pent House</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="pagination-div">
					<ul class="pagination">
						<li><a href="#"><i class="ion-chevron-left"></i></a></li>
						<li><a class="page-number current" href="#">1</a></li>
						<li><a class="page-number" href="#">2</a></li>
						<li><a class="page-number" href="#">3</a></li>
						<li><a href="#"><i class="ion-chevron-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

