
@{
    ViewData["Title"] = "Fag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<div class="page_header">
	<div class="page_header_content">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="index-2.html">Home</a></li>
				<li class="active">FAQ</li>
			</ul>
			<h2 class="heading">FAQs</h2>
		</div>
	</div>
</div>

<div class="main_wrapper">
	<div class="faq">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<div class="images-faq">
						<ul style="list-style-type: none">
							<li>
								<img src="/client/images/15742702_5672795.jpg" style="margin-bottom: 80%" alt="">
							</li>
							<li>
								<img src="/client/images/12832569_5098466.jpg" style="margin-bottom: 70%" alt="">
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-8 col-md-15">
					<div class="section_header" data-aos="fade-up">
						<h6 class="section_sub_title">Giải Đáp Thắc Mắc</h6>
						<h1 class="section_title">Một Vài Câu Hỏi Thường Gặp</h1>
					</div>
					<div class="accordion" data-aos="fade-up">
						<div class="item active">
							<div class="accordion_tab">
								<h2 class="accordion_title">Khi lựa chọn một tủ đông dung tích lớn, điều gì tôi nên xem xét để đảm bảo rằng nó đáp ứng được nhu cầu của tôi?</h2>
								<span class="accordion_tab_icon">
									<i class="open_icon ion-ios-arrow-down"></i>
									<i class="close_icon ion-ios-arrow-up"></i>
								</span>
							</div>
							<div class="accordion_info">
								Để đảm bảo rằng tủ đông dung tích lớn đáp ứng nhu cầu của bạn, bạn cần xem xét dung tích, công suất làm lạnh, hiệu suất năng lượng, hệ thống kiểm soát nhiệt độ, chất lượng xây dựng, tính năng bổ sung, hãng sản xuất và dịch vụ hậu mãi, cũng như ngân sách của bạn.
							</div>
						</div>

						<div class="item">
							<div class="accordion_tab">
								<h2 class="accordion_title">Bể lạnh hải sản có yêu cầu đặc biệt nào mà tôi cần biết để lựa chọn thiết bị phù hợp?</h2>
								<span class="accordion_tab_icon">
									<i class="open_icon ion-ios-arrow-down"></i>
									<i class="close_icon ion-ios-arrow-up"></i>
								</span>
							</div>
							<div class="accordion_info">
								Để lựa chọn thiết bị phù hợp cho bể lạnh hải sản, bạn cần xem xét các yêu cầu đặc biệt như nhiệt độ, độ ẩm, chất lượng không khí, chất lượng xây dựng, kích thước và dung tích, cùng với các tính năng bổ sung.
							</div>
						</div>

						<div class="item">
							<div class="accordion_tab">
								<h2 class="accordion_title">Điều hoà công nghiệp là gì và tại sao nó quan trọng trong môi trường công nghiệp?</h2>
								<span class="accordion_tab_icon">
									<i class="open_icon ion-ios-arrow-down"></i>
									<i class="close_icon ion-ios-arrow-up"></i>
								</span>
							</div>
							<div class="accordion_info">
								Điều hoà công nghiệp là hệ thống điều chỉnh nhiệt độ, độ ẩm và chất lượng không khí trong môi trường công nghiệp. Nó quan trọng vì nó đảm bảo điều kiện làm việc tốt, bảo vệ thiết bị và sản phẩm, tăng năng suất và tiết kiệm năng lượng.
							</div>
						</div>

						<div class="item">
							<div class="accordion_tab">
								<h2 class="accordion_title">Khi nào tôi nên thay thế hệ thống điều hòa công nghiệp của mình?</h2>
								<span class="accordion_tab_icon">
									<i class="open_icon ion-ios-arrow-down"></i>
									<i class="close_icon ion-ios-arrow-up"></i>
								</span>
							</div>
							<div class="accordion_info">
								Bạn nên thay thế hệ thống điều hòa công nghiệp của mình khi hệ thống đã vượt quá tuổi thọ, không hiệu quả, gặp sự cố và hư hỏng nghiêm trọng, hoặc khi công nghệ mới cung cấp hiệu suất và tiết kiệm năng lượng tốt hơn.
							</div>
						</div>
						<div class="item">
							<div class="accordion_tab">
								<h2 class="accordion_title">Tôi đang muốn xây dựng một phòng sạch, tôi cần phải lưu ý những yếu tố gì?</h2>
								<span class="accordion_tab_icon">
									<i class="open_icon ion-ios-arrow-down"></i>
									<i class="close_icon ion-ios-arrow-up"></i>
								</span>
							</div>
							<div class="accordion_info">
								Khi xây dựng một phòng sạch, bạn cần lưu ý lớp lọc không khí, hệ thống quạt và thông gió, vật liệu và bề mặt, áp suất và lưu lượng không khí, thiết bị và trang thiết bị, hệ thống kiểm soát và giám sát, quy chuẩn và tiêu chuẩn, cũng như bảo trì và kiểm tra định kỳ.
							</div>
						</div>
						<div class="item">
							<div class="accordion_tab">
								<h2 class="accordion_title">Có những yếu tố nào tôi cần xem xét khi lựa chọn thiết bị lạnh cho một kho lạnh?</h2>
								<span class="accordion_tab_icon">
									<i class="open_icon ion-ios-arrow-down"></i>
									<i class="close_icon ion-ios-arrow-up"></i>
								</span>
							</div>
							<div class="accordion_info">
								Khi lựa chọn thiết bị lạnh cho một kho lạnh, bạn cần xem xét dung tích, hiệu suất làm lạnh, tiết kiệm năng lượng, độ bền, kiểm soát nhiệt độ chính xác, và dịch vụ hậu mãi.
							</div>
						</div>
						<div class="item">
							<div class="accordion_tab">
								<h2 class="accordion_title">Tôi muốn tối ưu hóa hiệu suất hoạt động của kho lạnh của mình. Bạn có gợi ý gì để nâng cao hiệu quả và tiết kiệm năng lượng?</h2>
								<span class="accordion_tab_icon">
									<i class="open_icon ion-ios-arrow-down"></i>
									<i class="close_icon ion-ios-arrow-up"></i>
								</span>
							</div>
							<div class="accordion_info">
								Để tối ưu hóa hiệu suất và tiết kiệm năng lượng cho kho lạnh, bạn có thể gợi ý như sau: đảm bảo cách nhiệt tốt, đảm bảo kín kho, duy trì nhiệt độ và độ ẩm ổn định, kiểm tra và bảo dưỡng định kỳ thiết bị lạnh, sử dụng hệ thống điều khiển tự động và áp dụng các biện pháp tiết kiệm năng lượng như áp dụng kỹ thuật quản lý năng lượng hiệu quả và sử dụng thiết bị lạnh hiệu suất cao.
							</div>
						</div>
						<div class="item">
							<div class="accordion_tab">
								<h2 class="accordion_title">Cách bảo trì và vệ sinh định kỳ hệ thống kho lạnh và thiết bị lạnh để đảm bảo hoạt động hiệu quả của chúng là gì?</h2>
								<span class="accordion_tab_icon">
									<i class="open_icon ion-ios-arrow-down"></i>
									<i class="close_icon ion-ios-arrow-up"></i>
								</span>
							</div>
							<div class="accordion_info">
								Để đảm bảo hoạt động hiệu quả của hệ thống kho lạnh và thiết bị lạnh, hãy thực hiện các biện pháp bảo trì và vệ sinh định kỳ bao gồm kiểm tra và làm sạch bộ lọc không khí, kiểm tra và bảo dưỡng hệ thống làm lạnh, kiểm tra và vệ sinh các cửa và kín kho, kiểm tra và điều chỉnh nhiệt độ và độ ẩm, và thực hiện kiểm tra định kỳ và bảo dưỡng thiết bị lạnh.
							</div>
						</div>
						<div class="item">
							<div class="accordion_tab">
								<h2 class="accordion_title">Tôi muốn lắp đặt một kho cấp đông, tôi cần phải chuẩn bị những gì để đảm bảo chất lượng lưu trữ của hàng hóa?</h2>
								<span class="accordion_tab_icon">
									<i class="open_icon ion-ios-arrow-down"></i>
									<i class="close_icon ion-ios-arrow-up"></i>
								</span>
							</div>
							<div class="accordion_info">
								Để đảm bảo chất lượng lưu trữ của hàng hóa trong kho cấp đông, bạn cần chuẩn bị vị trí phù hợp, thiết kế kho phù hợp, hệ thống cấp điện dự phòng, hệ thống làm lạnh chính xác và đủ công suất, kiểm soát nhiệt độ và độ ẩm chính xác, và bảo trì định kỳ hệ thống và thiết bị lạnh.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="banner banner_bg_color">
		<div class="container">
			<div class="banner_content">
				<div class="row">
					<div class="col-lg-8">
						<div class="banner_text">
							<img src="/client/images/phone3.png" alt="">
							<h1>Bạn Cần Hỗ Trợ ? Liên Hệ Với Chúng Tôi Để Nhận Được Tư Vấn</h1>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="banner_phone">
							<h4>Tư Vấn Mọi Lúc</h4>
							<span>
								032.696.3723
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

