
@{
    ViewData["Title"] = "DuAn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header -->
<div class="page_header">
	<div class="page_header_content">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="index-2.html">Home</a></li>
				<li class="active">Dự Án</li>
			</ul>
			<h2 class="heading">Các Dự Án</h2>
		</div>
	</div>
</div>

<div class="main_wrapper">
	<div class="project_iso section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="button-group filters-button-group button_color">
						<button class="button is-checked" data-filter="*">Tất Cả</button>
						<button class="button" data-filter=".commercial">Kho Lạnh</button>
						<button class="button" data-filter=".highrise">Bể Hải Sản</button>
						<button class="button" data-filter=".residential">Tủ Đông</button>
						<button class="button" data-filter=".business">Điều Hòa</button>
					</div>

					<div class="grid grid-4 gutter-15">
						<div class="element-item residential business">
							<div class="teambox">
								<img src="/client/images/warehouse-industrial-building-interior-with-people-forklifts-handling-goods-storage-area.jpg" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>Kho Sản Xuất</h6>
											<h5><a href="project-details.html">Tủ Đông</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item highrise">
							<div class="teambox">
								<img src="/client/images/senior-logistic-worker-hardhat-uniform-walking-warehouse-wheeling-palette-jack-back-view-full-length-labor-logistics-concept.jpg" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>Kho Sản Xuất</h6>
											<h5><a href="project-details.html">Bể Hải Sản</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item residential commercial">
							<div class="teambox">
								<img src="/client/images/logistic-center-with-storage-units.jpg" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>Hình Ảnh</h6>
											<h5><a href="project-details.html">Tủ Đông</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item highrise commercial">
							<div class="teambox">
								<img src="/client/images/ventilation-duct-building-roof.jpg" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>Hình Ảnh</h6>
											<h5><a href="project-details.html">Điều Hòa CN</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item business highrise">
							<div class="teambox">
								<img src="/client/images/large-warehouse-with-large-truck-middle-it.jpg" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>Hình Ảnh</h6>
											<h5><a href="project-details.html">Kho Vận Chuyển</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item residential">
							<div class="teambox">
								<img src="/client/images/interior-large-logistics-warehouse-ai-generative.jpg" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>Hình Ảnh</h6>
											<h5><a href="project-details.html">Kho Sản Xuất</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item residential">
							<div class="teambox">
								<img src="/client/images/fresh-groceries-inside-modern-supermarket-no-people-generated-by-ai.jpg" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>Hình Ảnh</h6>
											<h5><a href="project-details.html">Bể Hải Sản</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item business residential">
							<div class="teambox">
								<img src="/client/images/close-up-heat-pump-outside-home.jpg" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>Hình Ảnh</h6>
											<h5><a href="project-details.html">Máy Lạnh</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item commercial residential">
							<div class="teambox">
								<img src="/client/images/view-inside-new-warehouse-mezzanine-floor-looking-into-hall.jpg" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>Hình Ảnh</h6>
											<h5><a href="project-details.html">Nhà Máy</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item highrise residential">
							<div class="teambox">
								<img src="/client/images/metallic-ovens-inside-big-factory-with-heavy-equipments.jpg" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>Hình Ảnh</h6>
											<h5><a href="project-details.html">Nhà Máy</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="element-item business highrise">
							<div class="teambox">
								<img src="/client/images/anhnen.jpg" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>Hình Ảnh</h6>
											<h5><a href="project-details.html">Nhà Máy</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					@*	<div class="element-item residential">
							<div class="teambox">
								<img src="/client/images/team/15.png" alt="">
								<div class="teambox_inner">
									<div class="team_social">
										<div class="share"><i class="ion-android-share-alt"></i></div>
										<ul>
											<li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
										</ul>
									</div>
									<div class="teambox_intro">
										<div class="team_flex team_size">
											<h6>NEW YORK</h6>
											<h5><a href="project-details.html">Modern Pent House</a></h5>
										</div>
									</div>
								</div>
							</div>
						</div>*@
					</div>

				</div>

				<div class="pagination-div">
					<ul class="pagination">
						<li><a href="#"><i class="ion-chevron-left"></i></a></li>
						<li><a class="page-number current" href="#">1</a></li>
						<li><a class="page-number" href="#">2</a></li>
						<li><a class="page-number" href="#">3</a></li>
						<li><a href="#"><i class="ion-chevron-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

