@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["SuccessMessage"] != null)
{
    <script>
        var encodedMessage = '@TempData["SuccessMessage"]';
        var decodedMessage = document.createElement('textarea');
        decodedMessage.innerHTML = encodedMessage;
        var decodedText = decodedMessage.value;
        alert(decodedText);
    </script>
}
<div class="main_wrapper">

    <div class="theme_slider_1">
        <div class="slider">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slide_content">
                            <h5 class="sub_heading" data-aos="fade-up" data-aos-duration="1000">Lắp Đặt Ngay<span> +99 (1234) 56 789</span></h5>
                            <h2 class="heading" data-aos="fade-up" data-aos-duration="1500">Hệ Thống Lắp Đặt Kho Lạnh</h2>
                            <p class="desc" data-aos="fade-up" data-aos-duration="2000">Là đối tác tin cậy của hầu hết các công ty, nhà máy, xí nghiệp đông lạnh trên toàn thành phố nói riêng và cả nước nói chung.</p>
                            <div class="slider_button" data-aos="fade-right" data-aos-duration="2500">
                                <a href="about.html" class="button">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex align-items-end" data-aos="fade-left" data-aos-duration="2500">
                        <div class="layer_object">
                            <img src="/client/images/slider/layer_2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service">
        <div class="container-fluid g-0">
            <div class="row g-0">
                <div class="col-lg-4 col-md-4">
                    <div class="service_inner service_inner2 bg_1">
                        <div class="service_content d-flex align-self-center">
                            <div class="icon_img">
                                <img src="/client/images/services/s1.png" alt="">
                            </div>
                            <div class="services_content_flex_cenrer">
                                <h6>Dịch Vụ</h6>
                                <h4><a href="services.html">Tư vấn chọn gói thi công lắp đặt kho lạnh</a></h4>
                                <a href="service-details.html">Xem Thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="main_img" data-aos="fade-up" data-aos-duration="1000">
                            <img src="/client/images/services/ss1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="service_inner service_inner2 bg_2">
                        <div class="service_content d-flex align-self-center">
                            <div class="icon_img">
                                <img src="/client/images/services/s2.png" alt="">
                            </div>
                            <div class="services_content_flex_cenrer">
                                <h6>Dịch Vụ</h6>
                                <h4><a href="services-2.html">Thi công lắp đặt kho lạnh theo yêu cầu</a></h4>
                                <a href="service-details.html">Xem Thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="main_img" data-aos="fade-up" data-aos-duration="2000">
                            <img src="/client/images/services/ss2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="service_inner service_inner2 bg_3">
                        <div class="service_content d-flex align-self-center">
                            <div class="icon_img">
                                <img src="/client/images/services/s3.png" alt="">
                            </div>
                            <div class="services_content_flex_cenrer">
                                <h6>Dịch Vụ</h6>
                                <h4><a href="services.html">Bảo hành, đảm bảo chất lượng kho lạnh</a></h4>
                                <a href="service-details.html">Xem Thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="main_img" data-aos="fade-up" data-aos-duration="3000">
                            <img src="/client/images/services/sbg3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="experience section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="group_image_holder type_1">
                        <div class="expe_box">
                            <div class="expe_box_inner">
                                <h1>10</h1>
                                Năm Kinh Nghiệm
                            </div>
                        </div>
                        <div class="image_object">
                            <img src="/client/images/about/1.png" alt="">
                            <div class="object">
                                <img src="/client/images/about/3.png" alt="About">
                                <img src="/client/images/about/3.png" alt="About">
                                <img src="/client/images/about/3.png" alt="About">
                                <img src="/client/images/about/s1.png" alt="About" data-aos="fade-down" data-aos-duration="3000">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="experience_content">
                        <div class="section_header">
                            <div class="shadow_icon"><img src="/client/images/about/shadow_icon1.png" alt=""></div>
                            <h6 class="section_sub_title">VỀ CHÚNG TÔI</h6>
                            <h1 class="section_title">Building A New Era in world of Construction</h1>
                            <p class="section_desc">
                                CƠ ĐIỆN LẠNH SAO VÀNG chuyên lắp đặt kho lạnh giá rẻ uy tín và thâm niên trên thị trường, với các trang thiết bị hiện đại, đội ngũ kỹ sư lành nghề, giàu kinh nghiệm và thâm niên trong nhiều dự án lắp kho lạnh trong và ngoài
                                nước, cam kết đúng tiến độ, chúng tôi là đối tác tin cậy của hầu hết các công ty, nhà máy, xí nghiệp đông lạnh trên toàn thành phố nói riêng và cả nước nói chung.
                            </p>
                            <div class="about_below">
                                <div class="about_below_content">
                                    <i class="ion ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    <div class="about_below_content_text">
                                        <h5>ĐỘI NGŨ NHÂN VIÊN</h5>
                                        <p>Kinh nghiệm, Nhiệt tình, Tận tâm, Chu đáo</p>
                                    </div>
                                </div>
                                <div class="about_below_content">
                                    <i class="ion ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    <div class="about_below_content_text">
                                        <h5>Chi Phí Hợp Lý</h5>
                                        <p>Cam kết chất lượng đảm bảo, giá cả phù hợp</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="button" href="about.html">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="funfacts" class="funfacts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section_header">
                        <h6 class="section_sub_title">Thông tin thêm...</h6>
                        <h1 class="section_title">Thông tin thêm</h1>
                    </div>
                    <div class="fun_bottom">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="funbox1">
                                    <div class="fun_img">
                                        <img src="/client/images/funfact/p1.png" alt="icon">
                                    </div>
                                    <div class="fun_content">
                                        <h1><span class="fun-number">10</span></h1>
                                        <p>Năm Kinh Nghiệm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="funbox1">
                                    <div class="fun_img">
                                        <img src="/client/images/funfact/p2.png" alt="icon">
                                    </div>
                                    <div class="fun_content">
                                        <h1><span class="fun-number">100</span><span class="fun-suffix">+</span></h1>
                                        <p>Dự Án Hoàn Thành</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-6">
                                <div class="funbox1">
                                    <div class="fun_img">
                                        <img src="/client/images/funfact/p3.png" alt="icon">
                                    </div>
                                    <div class="fun_content">
                                        <h1><span class="fun-number">300</span><span class="fun-suffix">+</span></h1>
                                        <p>Đội Ngũ Nhân Viên</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-6">
                                <div class="funbox1">
                                    <div class="fun_img">
                                        <img src="/client/images/funfact/p4.png" alt="icon">
                                    </div>
                                    <div class="fun_content">
                                        <h1><span class="fun-number">36</span></h1>
                                        <p>Dự Án Đang Triển Khai</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="man_img" data-aos="fade-left" data-aos-duration="3000">
                        <img src="/client/images/funfact/img_fun.png" alt="icon">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section project_iso project_iso1">
        <div class="container-fluid g-0">
            <div class="section_header text-center">
                <div class="shadow_icon"><img src="/client/images/about/shadow_icon1.png" alt=""></div>
                <h6 class="section_sub_title">Các Dự Án Hoặc Hợp Tác Tiêu Biểu... </h6>
                <h1 class="section_title">Hình ảnh chưa có cụ thể</h1>
            </div>
            <div class="row g-0">
                <div class="col">
                    <div class="button-group filters-button-group">
                        <button class="button is-checked" data-filter="*">Tất Cả</button>
                        <button class="button" data-filter=".commercial">Kho Lạnh</button>
                        <button class="button" data-filter=".highrise">Bể Hải Sản</button>
                        <button class="button" data-filter=".residential">Ví Dụ</button>
                        <button class="button" data-filter=".business">Ví Dụ</button>
                    </div>

                    <div class="grid grid-5">
                        <div class="element-item highrise">
                            <div class="teambox">
                                <img src="/client/images/team/Project_2_Images/3.png" alt="">
                                <div class="teambox_inner">
                                    <div class="team_social">
                                        <div class="share"><i class="ion-android-share-alt"></i></div>
                                        <ul>
                                            <li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                            <li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="teambox_intro">
                                        <div class="team_flex">
                                            <h6>NEW YORK</h6>
                                            <h5><a href="project-details.html">Multistored Building</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element-item highrise business">
                            <div class="teambox">
                                <img src="/client/images/team/Project_2_Images/4.png" alt="">
                                <div class="teambox_inner">
                                    <div class="team_social">
                                        <div class="share"><i class="ion-android-share-alt"></i></div>
                                        <ul>
                                            <li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                            <li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="teambox_intro">
                                        <div class="team_flex">
                                            <h6>NEW YORK</h6>
                                            <h5><a href="project-details.html">Highrise Architecture</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element-item residential ">
                            <div class="teambox">
                                <img src="/client/images/team/Project_2_Images/5.png" alt="">
                                <div class="teambox_inner">
                                    <div class="team_social">
                                        <div class="share"><i class="ion-android-share-alt"></i></div>
                                        <ul>
                                            <li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                            <li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="teambox_intro">
                                        <div class="team_flex">
                                            <h6>NEW YORK</h6>
                                            <h5><a href="project-details.html">Large Swiming Pool</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element-item commercial">
                            <div class="teambox">
                                <img src="/client/images/team/Project_2_Images/1.png" alt="">
                                <div class="teambox_inner">
                                    <div class="team_social">
                                        <div class="share"><i class="ion-android-share-alt"></i></div>
                                        <ul>
                                            <li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                            <li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="teambox_intro">
                                        <div class="team_flex">
                                            <h6>NEW YORK</h6>
                                            <h5><a href="project-details.html">Large City Tower</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element-item residential">
                            <div class="teambox">
                                <img src="/client/images/team/Project_2_Images/2.png" alt="">
                                <div class="teambox_inner">
                                    <div class="team_social">
                                        <div class="share"><i class="ion-android-share-alt"></i></div>
                                        <ul>
                                            <li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li class="instagram"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                            <li class="linkedin"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="teambox_intro">
                                        <div class="team_flex">
                                            <h6>NEW YORK</h6>
                                            <h5><a href="project-details.html">Curve Sky Tower</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="banner type_3">
        <div class="container">
            <div class="banner_content">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="banner_text">
                            <img src="/client/images/phone3.png" alt="">
                            <h1>Dịch vụ hỗ trợ 24/7. Liên hệ với chúng tôi bất cứ khi nào bạn cần...</h1>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="banner_phone">
                            <h4>Đường Dây Nóng</h4>
                            <span>+99 (1234) 56 789</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonial pd_btom_80">
        <div class="container">
            <div class="section_header text-center">
                <div class="shadow_icon"><img src="/client/images/shadow_icon3.png" alt=""></div>
                <h6 class="section_sub_title">Đánh Giá</h6>
                <h1 class="section_title">Đánh Giá Của Khách Hàng</h1>
                <p class="section_desc">Viết thêm vào đây thêm vào đây thêm vào đây thêm vào đây thêm vào đây thêm vào đây thêm vào đây....</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="owl_testimonial1 owl-carousel owl-theme">
                        <div class="item">
                            <div class="testibox1">
                                <div class="testibox_inner">
                                    <div class="testi-content">
                                        <ul>
                                            <li class="text">Rating:</li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <p>
                                            “Đánh giá, mình tự nghĩ và viết Đánh giá, mình tự nghĩ và viết Đánh giá, mình tự nghĩ và viết Đánh giá, mình tự nghĩ và viết Đánh giá, mình tự nghĩ và viết Đánh giá, mình tự nghĩ và viết Đánh giá, mình tự nghĩ
                                            và viết ”
                                        </p>
                                    </div>
                                    <div class="testi-top">
                                        <div class="testi-img">
                                            <img src="/client/images/reviewer1.png" alt="">
                                        </div>
                                        <div class="testi-info">
                                            <h4>Tên tuổi</h4>
                                            <h6>Địa chỉ/công ty</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testibox1">
                                <div class="testibox_inner">
                                    <div class="testi-content">
                                        <ul>
                                            <li class="text">Rating:</li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <p>“Builderrine Construction provides us nice serives. The have designed and build our NY Pent House project. They have exceeded our expectation and did such an amazing job. We are very happy with their work”</p>
                                    </div>
                                    <div class="testi-top">
                                        <div class="testi-img">
                                            <img src="/client/images/reviewer4.png" alt="">
                                        </div>
                                        <div class="testi-info">
                                            <h4>Marina Samuel</h4>
                                            <h6>New York</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testibox1">
                                <div class="testibox_inner">
                                    <div class="testi-content">
                                        <ul>
                                            <li class="text">Rating:</li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <p>“Builderrine Construction provides us nice serives. The have designed and build our Utah Shopping Mall project. They have exceeded our expectation and did such an amazing job. We are very happy with their work”</p>
                                    </div>
                                    <div class="testi-top">
                                        <div class="testi-img">
                                            <img src="/client/images/reviewer3.png" alt="">
                                        </div>
                                        <div class="testi-info">
                                            <h4>Oakland Gardner</h4>
                                            <h6>UTAH</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testibox1">
                                <div class="testibox_inner">
                                    <div class="testi-content">
                                        <ul>
                                            <li class="text">Rating:</li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <p>Builderrine Construction provides us nice serives. The have designed and build our NY Pent House project. They have exceeded our expectation and did such an amazing job. We are very happy with their work”</p>
                                    </div>
                                    <div class="testi-top">
                                        <div class="testi-img">
                                            <img src="/client/images/reviewer1.png" alt="">
                                        </div>
                                        <div class="testi-info">
                                            <h4>Johnathon Doe</h4>
                                            <h6>New York</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testibox1">
                                <div class="testibox_inner">
                                    <div class="testi-content">
                                        <ul>
                                            <li class="text">Rating:</li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <p>Builderrine Construction provides us nice serives. The have designed and build our NY Pent House project. They have exceeded our expectation and did such an amazing job. We are very happy with their work”</p>
                                    </div>
                                    <div class="testi-top">
                                        <div class="testi-img">
                                            <img src="/client/images/reviewer1.png" alt="">
                                        </div>
                                        <div class="testi-info">
                                            <h4>Johnathon Doe</h4>
                                            <h6>New York</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_Blog")

    <div class="patner">
        <div class="patner_image">
            <img src="/client/images/patner/new_patner/1.png" alt="">
        </div>
        <div class="patner_image">
            <img src="/client/images/patner/new_patner/2.png" alt="">
        </div>
        <div class="patner_image">
            <img src="/client/images/patner/new_patner/3.png" alt="">
        </div>
        <div class="patner_image">
            <img src="/client/images/patner/new_patner/4.png" alt="">
        </div>
        <div class="patner_image">
            <img src="/client/images/patner/new_patner/5.png" alt="">
        </div>
        <div class="patner_image">
            <img src="/client/images/patner/new_patner/6.png" alt="">
        </div>
    </div>
    </div>