
@{
    ViewData["Title"] = "ServiceDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<div class="page_header">
	<div class="page_header_content">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="index-2.html">Home</a></li>
				<li><a href="#">Dịch Vụ</a></li>
				@*<li class="active">Comertial Construction</li>*@
			</ul>
			<h2 class="heading">Tư Vấn, Lắp Đặt Kho Lạnh</h2>
		</div>
	</div>
</div>

<div class="main_wrapper">
	<div class="container">
		<div class="project_details section">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="project_details_inner">
						<div class="post_img">
							<img src="/client/images/large-warehouse-with-large-truck-middle-it.jpg" alt="blog">
						</div>
						<div class="post_content">
							<div class="post_header">
								<h3 class="post_title">Tư Vấn, Lắp Đặt Kho Lạnh</h3>
							</div>
							<div class="fulltext">
								<p>
Công ty Cơ Điện Lạnh Sao Vàng là một trong những công ty hàng đầu trong lĩnh vực cung cấp dịch vụ tư vấn, thiết kế và lắp đặt kho lạnh. Với nhiều năm kinh nghiệm trong ngành, công ty đã thành công trong việc cung cấp các giải pháp kho lạnh chất lượng cao cho các doanh nghiệp lớn và nhỏ trên khắp Việt Nam.
								</p>

								<p>
									Dịch vụ tư vấn của công ty bao gồm việc đưa ra các giải pháp tối ưu cho các yêu cầu lưu trữ của khách hàng. Với đội ngũ kỹ sư giàu kinh nghiệm và kiến thức chuyên môn cao, công ty có thể đưa ra các giải pháp lưu trữ hiệu quả, tiết kiệm chi phí và đáp ứng các yêu cầu đặc biệt của khách hàng.
								</p>

								<h4 class="widget_title">
									Quy Trình Làm Việc
									<span class="title_line"></span>
								</h4>
								<p class="margin_o_para">5 bước quan trọng trong quy trình tư vấn và lắp đặt hệ thống chất lượng cao của Công ty Cơ Điện Lạnh Sao Vàng</p>
								<ul class="point_order">
									<li>Tư vấn với khách hàng để hiểu yêu cầu lưu trữ của khách hàng.</li>
									<li>Thiết kế hệ thống kho lạnh phù hợp với yêu cầu của khách hàng.</li>
									<li>Lắp đặt các thiết bị lưu trữ chất lượng và đảm bảo nhiệt độ và độ ẩm tối ưu.</li>
									<li>Kiểm tra và bảo trì hệ thống kho lạnh để đảm bảo hoạt động tối ưu và đảm bảo an toàn cho hàng hóa.</li>
									<li>Đưa ra các giải pháp và hỗ trợ khách hàng trong trường hợp xảy ra sự cố hoặc vấn đề liên quan đến hệ thống kho lạnh.</li>
								</ul>

								<div class="post_gallery">
									<div class="row">
										<div class="col-lg-6 col-sm-6">
											<div class="anim_box" data-aos="overlay-right">
												<img src="/client/images/kho-lanh-mini.jpg" alt="img">
											</div>
										</div>
										<div class="col-lg-6 col-sm-6">
											<div class="anim_box" data-aos="overlay-right">
												<img class="sm-margin-bottom" src="/client/images/kho-lanh-mini-gia-bao-nhieu-1.jpg" alt="img">
											</div>
										</div>
									</div>
								</div>

								<p>
									Sau khi tư vấn, công ty sẽ tiến hành thiết kế và lắp đặt các hệ thống kho lạnh đảm bảo chất lượng và an toàn cho hàng hóa của khách hàng. Công ty sử dụng các thiết bị lưu trữ chất lượng, đảm bảo nhiệt độ và độ ẩm tối ưu để bảo vệ hàng hóa khỏi các tác động bên ngoài.
								</p>
								<p>
Không chỉ cung cấp dịch vụ tư vấn, thiết kế và lắp đặt kho lạnh, công ty Cơ Điện Lạnh Sao Vàng còn cung cấp các dịch vụ bảo trì và sửa chữa kho lạnh. Đội ngũ kỹ thuật viên chuyên nghiệp và có kinh nghiệm cao sẽ tiến hành kiểm tra, bảo trì và sửa chữa các thiết bị của khách hàng để đảm bảo hệ thống kho lạnh hoạt động tối ưu.
								</p>
								<div class="video_post">
									<div class="ytube_video">
										<div class="post_content">
											
											<img src="/client/images/ba-quan-vacxin-bang-kho-lanh.jpg" alt="blog">
										</div>
									</div>
								</div>

								

								<p>
									Ngoài ra, công ty còn cung cấp các dịch vụ khác như lắp đặt hệ thống điều hòa không khí, hệ thống máy nén khí, thiết bị máy móc công nghiệp và các dịch vụ khác liên quan đến cơ điện lạnh.
								</p>
								<p>
Với chất lượng dịch vụ tốt, giá cả cạnh tranh và đội ngũ nhân viên tận tâm, công ty Cơ Điện Lạnh Sao Vàng đã trở thành lựa chọn hàng đầu của nhiều doanh nghiệp trong việc cung cấp giải pháp kho lạnh chất lượng cao. Nếu bạn đang có nhu cầu về dịch vụ kho lạnh hoặc cơ điện lạnh, hãy liên hệ với công ty để được tư vấn và hỗ trợ tốt nhất.
								</p>
							</div>
						</div>
					</div>
					<a href="/home/contact#contact" class="button" style="border-radius:30px; margin-left: 30%;">Đặt Hàng Ngay</a>
				</div>

				<div class="col-lg-4 col-md-12">
					<div class="sidebar">
						<div id="widgetnav" class="widget widget_menu">
							<div class="sidenav">
								<ul class="side_menu">
									<li class="menu-item active">
										<a asp-action="ServiceDetail" asp-controller="Home">
											<img src="/client/images/services/cone_1.png" alt="">
											<img src="/client/images/services/2-white.png" alt="">
											Tư Vấn, Lắp Đặt Kho Lạnh
										</a>
										
										
									</li>
									<li class="menu-item">
										<a asp-action="ServiceDetail2" asp-controller="Home">
											<img src="/client/images/services/9-blue.png" alt="">
											<img src="/client/images/services/cone_2.png" alt="">
											Tủ Đông Dung Tích Lớn
										</a>
									</li>
									<li class="menu-item">
										<a asp-action="ServiceDetail8" asp-controller="Home">
											<img src="/client/images/services/cone_7.png" alt="">
											<img src="/client/images/services/7-white.png" alt="">
											Tư Vấn, Lắp Đặt Kho Cấp Đông
										</a>
									</li>
									<li class="menu-item">
										<a asp-action ="ServiceDetail4" asp-controller="Home">
											<img src="/client/images/services/cone_3.png" alt="">
											<img src="/client/images/services/5-blue.png" alt="">
											Sửa Chữa Kho Lạnh
										</a>
									</li>
									<li class="menu-item">
										<a asp-action="ServiceDetail3" asp-controller="Home">
											<img src="/client/images/services/cone_4.png" alt="">
											<img src="/client/images/services/1-white.png" alt="">
											Bể Lạnh Hải Sản
										</a>
									</li>
									<li class="menu-item">
										<a asp-action="ServiceDetail5" asp-controller="Home">
											<img src="/client/images/services/cone_5.png" alt="">
											<img src="/client/images/services/11-white.png" alt="">
											Điều Hoà Công Nghiệp
										</a>
									</li>
									<li class="menu-item">
										<a asp-action="ServiceDetail6" asp-controller="Home">
											<img src="/client/images/services/cone_6.png" alt="">
											<img src="/client/images/services/10-white.png" alt="">
											Kho Lạnh Công Nghiệp
										</a>
									</li>
									<li class="menu-item">
										<a asp-action="ServiceDetail7" asp-controller="Home">
											<img src="/client/images/services/cone_7.png" alt="">
											<img src="/client/images/services/7-white.png" alt="">
											Tư Vấn, Thi Công Phòng Sạch
										</a>
									</li>
									<li class="menu-item">
										<a asp-action="ServiceDetail1" asp-controller="Home">
											<img src="/client/images/services/cone_3.png" alt="">
											<img src="/client/images/services/5-blue.png" alt="">
											Thiết Bị Lạnh Công Nghiệp
										</a>
									</li>
									
								</ul>
							</div>
						</div>

						<div id="custom_2" class="widget widget_side_contact">
							<div class="side_contact">
								<div class="side_contact_top">
									<div class="side_contact_inner">
										<p>Liên Hệ Với Chúng Tôi</p>
										<h4>Hoặc Để Lại Thông Tin</h4>  
									</div>
								</div>
								<div class="side_phone_inner">
									<div>
										<a href="tel:0326963723" style="color: #212529;">  <span class="phn_number">  <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; 032 696 3723</span></a>
									</div>
									<br />
									<div>

										<a href="tel:0326963723" style="color: #212529;">  <span class="phn_number">  <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; 032 696 3723</span></a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	@await Html.PartialAsync("_rate")
</div>

