
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header -->
		<div class="page_header">
			<div class="page_header_content">
				<div class="container">
					<ul class="breadcrumb">
						<li><a href="index-2.html">Trang Chủ</a></li>
						<li class="active">Dịch Vụ</li>
					</ul>
					<h2 class="heading">Các Dịch Vụ</h2>
				</div>
			</div>
		</div>
<div class="main_wrapper">
	<div class="section service services_inner_page">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="service_inner_block">
						<img src="/client/images/services/Service_Hover_images/1.jpg" alt="">
						<div class="icon_img">
							<img src="/client/images/services/s4.png" alt="">
						</div>
						<div class="service_content">
							<h4>Tư Vấn, Lắp Đặt Kho Lạnh</h4>
							<p>Cung cấp giải pháp tối ưu về bảo quản hàng hoá bằng hệ thống hiện đại.</p>
							<a asp-action="ServiceDetail" asp-controller="Home">XEM THÊM <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="service_inner_block">
						<img src="/client/images/services/Service_Hover_images/2.jpg" alt="">
						<div class="icon_img">
							<img src="/client/images/services/s6.png" alt="">
						</div>
						<div class="service_content">
							<h4>Thiết Bị Lạnh Công Nghiệp</h4>
							<p>Đáp ứng nhu cầu cho khách hàng khi bảo quản và vận chuyển hàng hoá</p>
							<a asp-action="ServiceDetail1" asp-controller="Home">XEM THÊM <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="service_inner_block">
						<img src="/client/images/services/Service_Hover_images/3.jpg" alt="">
						<div class="icon_img">
							<img src="/client/images/services/s7.png" alt="">
						</div>
						<div class="service_content">
							<h4>Tủ Đông Dung Tích Lớn</h4>
							<p>Giúp khách hàng bảo quản hàng hoá nhiều và lớn một cách hiệu quả.</p>
							<a asp-action="ServiceDetail2" asp-controller="Home">XEM THÊM <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="service_inner_block">
						<img src="/client/images/services/Service_Hover_images/4.jpg" alt="">
						<div class="icon_img">
							<img src="/client/images/services/s5.png" alt="">
						</div>
						<div class="service_content">
							<h4>Bể Lạnh Hải Sản</h4>
							<p>Bảo quản hải sản để giữ được độ tươi ngon của sản phẩm</p>
							<a asp-action="ServiceDetail3" asp-controller="Home">XEM THÊM <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="service_inner_block">
						<img src="/client/images/services/Service_Hover_images/5.jpg" alt="">
						<div class="icon_img">
							<img src="/client/images/services/s8.png" alt="">
						</div>
						<div class="service_content">
							<h4>Sửa Chữa Kho Lạnh</h4>
							<p>Sửa chữa, bảo trì hệ thống kho lạnh hoạt động hiệu quả và ổn định.</p>
							<a asp-action="ServiceDetail4" asp-controller="Home">XEM THÊM <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="service_inner_block">
						<img src="/client/images/services/Service_Hover_images/6.jpg" alt="">
						<div class="icon_img">
							<img src="/client/images/services/s9.png" alt="">
						</div>
						<div class="service_content">
							<h4>Điều Hoà Công Nghiệp</h4>
							<p>Kiểm soát nhiệt độ, độ ẩm và lưu lượng không khí trong môi trường sản xuất.</p>
							<a asp-action="ServiceDetail5" asp-controller="Home">XEM THÊM <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="service_inner_block">
						<img src="/client/images/services/Service_Hover_images/7.jpg" alt="">
						<div class="icon_img">
							<img src="/client/images/services/s10.png" alt="">
						</div>
						<div class="service_content">
							<h4>Kho Lạnh Công Nghiệp</h4>
							<p>Bảo quản hàng hoá giúp đảm bảo chất lượng và độ an toàn của sản phẩm.</p>
							<a asp-action="ServiceDetail6" asp-controller="Home">XEM THÊM <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="service_inner_block">
						<img src="/client/images/services/Service_Hover_images/8.jpg" alt="">
						<div class="icon_img">
							<img src="/client/images/services/s11.png" alt="">
						</div>
						<div class="service_content">
							<h4>Tư Vấn, Thi Công Phòng Sạch</h4>
							<p>Cung cấp phòng sạch tiên tiến, đạt chuẩn, đáp ứng nhu cầu của khách hàng.</p>
							<a asp-action="ServiceDetail7" asp-controller="Home">XEM THÊM <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="service_inner_block">
						<img src="/client/images/services/Service_Hover_images/9.jpg" alt="">
						<div class="icon_img">
							<img src="/client/images/services/s12.png" alt="">
						</div>
						<div class="service_content">
							<h4>Tư Vấn, Lắp Đặt Kho Cấp Đông</h4>
							<p>Kho lạnh cấp đông cho các doanh nghiệp trong các ngành công nghiệp khác nhau.</p>
							<a asp-action="ServiceDetail8" asp-controller="Home">XEM THÊM <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>

				<div class="pagination-div">
					<ul class="pagination">
						<li><a href="#"><i class="ion-chevron-left"></i></a></li>
						<li><a class="page-number current" href="#">1</a></li>
						<li><a class="page-number" href="#">2</a></li>
						<li><a class="page-number" href="#">3</a></li>
						<li><a href="#"><i class="ion-chevron-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

