@model Out_Source_Project.Models.Role
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Admin">Trang Chủ</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Roles">Quản lý quyền truy cập</a></li>
        <li class="breadcrumb-item active" aria-current="page">Xóa quyền truy cập</li>
    </ol>
    <h6 class="slim-pagetitle">Xóa quyền truy cập</h6>
</div><!-- slim-pageheader -->

<div class="section-wrapper mg-t-20">
    <div class="form-layout form-layout-7">
        <form asp-area="Admin" asp-action="Delete" asp-controller="Roles" asp-route-id="@Model.RoleId" method="post">
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    ID:
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" asp-for="RoleId" type="text" readonly>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    Tên quyền truy cập:
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" asp-for="RoleName" type="text" readonly>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    Mô tả:
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" asp-for="RoleDescription" type="text" readonly>
                </div>
            </div>
            <div class="form-layout-footer">
                <button class="btn btn-primary bd-0" type="submit">Đồng Ý</button>
                <a class="btn btn-secondary bd-0" asp-action="Index" asp-area="Admin" asp-controller="Roles">Hủy</a>
            </div><!-- form-layout-footer -->
        </form>
    </div><!-- form-layout -->

</div><!-- section-wrapper -->
