@model Out_Source_Project.Models.Role
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Admin">Trang Chủ</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Roles">Quản lý quyền truy cập</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sửa quyền truy cập</li>
    </ol>
    <h6 class="slim-pagetitle">Sửa quyền truy cập</h6>
</div><!-- slim-pageheader -->

<div class="section-wrapper">
    <form asp-area="Admin" asp-action="Edit" asp-controller="Roles" asp-route-id="@Model.RoleId" method="post">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RoleId" />
        <div class="form-layout">
            <div class="row mg-b-25">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label">Tên Role: <span class="tx-danger">*</span></label>
                        <input class="form-control" asp-for="RoleName"  >
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label">Role Description: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="RoleDescription">
                    </div>
                </div><!-- col-4 -->
                </div>

                <div class="form-layout-footer">
                 <button class="btn btn-primary bd-0">Lưu</button>
                <button class="btn btn-secondary bd-0">Hủy</button>
            </div><!-- form-layout-footer -->
        </div><!-- form-layout -->
    </form>
</div><!-- section-wrapper -->
